*{
    padding: 0;
    margin: 0;
  }
  /* body{
    max-width: 800px;
    margin: 0 auto;
  } */
  .page{
    box-sizing: border-box;
    height: 100vh;
    background-color: blue;
    position: sticky;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 85px;
    font-family: 'Libre Baskerville';
    box-shadow: 0 10px 15px #00000060;
  }
  .page a{
    text-decoration: underline;
    color: #efefff;
    /* mix-blend-mode: overlay; */
  /*   border: 5px solid #000000; */
  }
  .fs {
    z-index: 7;
    background-image: url('../images/theater.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .ss {
    background-color: rgba(36, 37, 38);
    z-index: 6;
    /* background: url("https://images.pexels.com/photos/931018/pexels-photo-931018.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); */
    /* background: linear-gradient(to bottom right, rgba(131,58,180,1) 16%, rgba(130,69,252,1) 80%, rgba(29,98,253,1) 100%); */
    background-size: cover;
    background-position: 0% 70%;
    background-repeat: no-repeat;
  }
  .sc {
    background-color: yellow;
    z-index: 4;
    /* background: url("https://images.pexels.com/photos/931018/pexels-photo-931018.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); */
    /* background: linear-gradient(to bottom right, rgba(131,58,180,1) 37%, rgba(253,29,29,1) 100%, rgba(252,176,69,1) 100%); */
    background-size: cover;
    background-position: 0% 70%;
    background-repeat: no-repeat;
    transform: translateX(var(--x)) translateY(var(--y)) scale(var(--scale));
    transition: ease-out 0.7s;
    background-image: url('../images/inner_theater3.jpg');
    --y: 0;
  }
  .sc a{
    color: #00b386;
  }
  .th {
    background: linear-gradient(to bottom right, rgba(130,69,252,1) 53%, rgba(29,237,253,1) 100%, rgba(29,233,253,1) 100%);
    z-index: 3;
    /* background: url("https://images.pexels.com/photos/3551227/pexels-photo-3551227.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); */
    background-size: cover;
    background-position: 0% 70%;
    background-repeat: no-repeat;
    background-image: url('../images/inner_theater4.jpg');
  }
  .th a{
    color: #00ace6;
  }
  .fr {
    z-index: 2;
    background-image: url('../images/theater.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .fr a{
    color: #ff9999;
  }

  .ls {
    background-color: rgba(36, 37, 38);
    /* background: linear-gradient(to bottom right, rgba(69,248,252,1) 24%, rgba(29,132,253,1) 88%, rgba(29,79,253,1) 100%); */
    z-index: 1;
    /* background: url("https://images.pexels.com/photos/6775273/pexels-photo-6775273.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); */
    background-size: cover;
    background-position: 0% 30%;
    background-repeat: no-repeat;
  }

  .arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    height: 100px;
    width: 100px;
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  ::-webkit-scrollbar {
    display: none;
}

.header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: #f1f1f1;
}

.header h2 {
  text-align: center;
  height: 50px;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

.progress-bar {
  height: 8px;
  background: #4caf50;
  width: 0%;
}

#btn{
  z-index: 200;
  position: absolute;
  right: 20px;
  top: 10px;
  border: 1px solid black;
  color: black;
  overflow: hidden;
  font-size: 17px;
  font-family: sans-serif;
  transition: all .5s;
  }

#btn:before{
    width: 100%;
    height: 100%;
    content: '';
    margin: auto;
    position: absolute;
    top:  -100%;
    left: -100%;
    color: white;
    background: #212121;
    transition: all .5s;
    z-index: -1;
  }
  
#btn:hover{
  color: white;
}
#btn:hover:before{			
    top: 0;
    left: 0;
}

.paragraph {
  font-family: 'Courier New', monospace;
  color: #f1f1f1;
}

.heading {
  color: #f1f1f1;
  font-family: 'Brush Script MT', cursive;
}